.split-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
    padding: 0 50px;
}

.intro {
    width: 70%;
    text-align: center;
    margin-bottom: 40px; 
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login-btn, .signup-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #535bf2;
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.login-btn:hover, .signup-btn:hover {
    transform: translateY(-5px); 
    background-color: #4a53d4; 
}

.welcome-message {
    width: 50%;
    text-align: center;
    margin-bottom: 40px; 
}

.patients-section {
    width: 50%;
    text-align: center;
}

.patients-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.patient-box {
    width: 100px; 
    height: 100px; 
    background-color: #535bf2; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.patient-box:hover {
    transform: scale(1.1); 
    background-color: #4a53d4; 
}

.view-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #535bf2;
    color: white;
    border: none;
    border-radius: 5px;
}

.carousel-container {
    width: 100%;
    overflow: hidden; /* Esto asegura que las imágenes no se salgan del contenedor */
    margin-top: 20px;
    ;
}

.carousel {
    display: flex;
    width: 30%;
    animation: carouselAnimation 70s infinite linear;
}

.carousel-image {
    flex: 0 0 100%; /* Cada imagen ocupará el 100% del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    max-width: 105%;
    height: auto;
}

@keyframes carouselAnimation {
    0% { transform: translateX(0); }
    114% { transform: translateX(-100%); }
    22% { transform: translateX(-200%); }
    33% { transform: translateX(-300%); }
    44% { transform: translateX(-400%); }
    55% { transform: translateX(-500%); }
    66% { transform: translateX(-600%); }
    77% { transform: translateX(-700%); }
    88% { transform: translateX(-800%); }
    100% { transform: translateX(-900%); }
}
